<div class="conversation panel">
  <%= conversation.breadcrumbs %>
  <div class="row">
    <div class="col-xs-8">
      <div class="panel-heading">
        <div class="panel-title">
          <a style="cursor: pointer;" data-toggle="collapse" data-target="#conversation_<%= conversation.id %>" aria-expanded="false" aria-controls="conversation_<%= conversation.id %>" >
            <%= conversation.subject %>
          </a>
        </div>
      </div>
      <%= div_for conversation, :class => "panel-collapse collapse" do %>
        <div class="panel-body">
          <%= conversation.body %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <p style="text-align: right;">User: <%= conversation.user_name %> &nbsp&nbsp&nbsp&nbsp Submitted: <%= conversation.date %></p>
    </div>
  </div>
</div>