<h1 class="text-center">Conversations</h1>

<%= render partial: "conversations/form" %>

<br/><br/>

<form class="form-inline" role="form">
    <div class="row" style="margin: 0px 20px 0px 20px">
        <div class="col-xs-11">
            <div class="input-group">
                <div class="input-group-btn">
                    <%= select_tag "Province", options_from_collection_for_select(Province.all, "id", "name"), prompt:"---Province---", class: "form-control" %>
                    <%= select_tag "City", options_from_collection_for_select(City.all, "id", "name"), prompt:"---City (Requires Province)---", class: "form-control" %>
                    <%= select_tag "ISP", options_from_collection_for_select(IspCompany.all, "id", "name"), prompt:"---ISP---", class: "form-control" %>
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-default">Search</button>
        </div>
    </div>
</form>

<div class="panel" style="margin: 20px;">
  All Conversations
  <div class="panel-body" style="padding: 30px">
    
    <% @Conversations.each do |conversation| %>

      <div class="panel conversation">
        <%= conversation.breadcrumbs %>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-8">
              <%= link_to conversation.subject, conversation %>
            </div>
            <div class="col-xs-4">
              <p style="text-align: right;">User: <%= conversation.user_name %> &nbsp&nbsp&nbsp&nbsp Submitted: <%= conversation.date %></p>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>