<h1 class="text-center">Conversations</h1>

<%= render partial: "conversations/form" %>

<br/><br/>

<form class="form-inline" role="form">
    <div class="row" style="margin: 0px 20px 0px 20px">
        <div class="col-xs-11">
            <%= render partial: "location_fields", locals: { show_isp_selector: true } %>
        </div>
        <div class="col-xs-1">
            <button id="search" type="button" class="btn btn-default">Search</button>
        </div>
    </div>
</form>

<div class="container" style="margin: 20px;">
  <p id="breadcrumbs">
    All Conversations
  </p>
  <div id="conversation-list" class="col-md-12" style="padding: 30px">
    <% @Conversations.each do |conversation| %>
      <%= render partial: "conversation", locals: { conversation: conversation } %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#search').click(function(){
    $.ajax({
      url: "<%= conversations_update_path %>",
      type: "post",
      data: {
        province_id: $('#province_id').val(),
        city_id: $('#city_id').val(),
        isp_company_id: $('#isp_company_id').val()
      }
    }).done(function( data ) {
    }).fail(function(jqXHR, msg) {
      console.log( "error " + msg);
    });

    var e1 = document.getElementById("province_id");
    var strUser1 = e1.options[e1.selectedIndex].text;
    var e2 = document.getElementById('city_id');
    var strUser2 = e2.options[e2.selectedIndex].text;
    var e3 = document.getElementById('isp_company_id');
    var strUser3 = e3.options[e3.selectedIndex].text;
    document.getElementById('breadcrumbs').innerHTML = strUser1 + "/" + strUser2 + "/" + strUser3;
  });
</script>

    <!-- var posts = "";
    <% @Conversations.each do |conversation| %>
      posts = posts + "<%= render partial: "conversation", locals: { conversation: conversation } %>"
    <% end %>
    document.getElementById('conversation-list').innerHTML = posts; -->
