$('#city_id').html("<option></option><%= escape_javascript options_from_collection_for_select(@city_options, 'id', 'name')%>");
$('#isp_company_id').html("<option></option><%= escape_javascript options_from_collection_for_select(@isp_company_options, 'id', 'name')%>");
<% if @province_selected %>
 $('#province_id').val('<%= @province_selected.id %>');
<% end %>
<% if @city_selected %>
  $('#city_id').val('<%= @city_selected.id %>');
  $('#recommendation_city_id').val('<%= @city_selected.id %>');
<% end %>
<% if @isp_selected %>
  $('#isp_company_id').val('<%= @isp_company_selected.id %>');
<% end %>