<div class="container">
  <div class="row">
    <h1 class="page-header">Wisp is bootstrapped...</h1>
    <p class="well">You can edit this page in app/views/presenter/home_page.html.erb</p>

    <%- @countries.each do |country| -%>
      <h2><%= country.name %></h2>
      <ul>
      <%- country.provinces.each do |province| -%>
        <li><%= province.name %></li>
        <ul>
        <%- province.cities.each do |city| -%>
          <li>
            <b><%= city.name %></b> - speed test results: <%= city.speed_test_results.size %>
            <%- if city.name.eql? "Guelph" -%>
              <%= city.isp_ranking_list %>
            <% end %>
          </li>
        <%- end -%>
        </ul>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>  