<h1 class="page-header text-center">WISP - Which Internet Service Provider</h1>
<h4 class="text-center">Helping you find the best internet service provider</h4>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<li <%= active_path(root_path) %> ><%= link_to "Recommend an ISP", root_path %></li>
		<li <%= active_path(rankings_path) %> ><%= link_to("Rankings", rankings_path) %></li>
		<li <%= active_path(conversations_path) %> ><%= link_to "Conversations", conversations_path %></li>
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>