<%= form_for :recommendation, url: recommendation_recommend_path, class: "form-inline", remote: true do |f| %>
  <%= f.hidden_field :city_id, { :value => city.id } %>
  <div class="well" style="min-height:100px;">
    <div class="row">
        
        <div class="form-group col-md-4">
          <%= f.label :cost, "Maximum cost per month" %>
          <%= f.text_field :cost, class: "form-control" %>
        </div>
            
        <div class="form-group col-md-4">
          <%= f.label :download_mbps, "Minimum download speed (mbps)" %>
          <%= f.text_field :download_mbps, class: "form-control" %>
        </div>
        
        <div class="form-group col-md-4">
          <%= f.label :upload_mbps, "Minimum upload speed (mbps)" %>
          <%= f.text_field :upload_mbps, class: "form-control" %>
        </div>

        </div>
        
  </div>
  
  <%= f.submit "Recommend me an ISP", class: "btn btn-primary btn-lg center-block" %>
<% end %>