<%= form_for @conversation, :html => {:class => "text-center conversation"} do |f| %>
  <% @conversation.errors.full_messages.each do |msg| %>
    <li class="error"><%= msg %></li>
  <% end %>
  <%= f.label :user_name %>
  <%= f.text_field :user_name %><br/><br/>
  <%= f.select :province_id, options_from_collection_for_select(Province.all, "id", "name"), selected: @conversation.province_id, prompt: "Province", class: "form-control" %>
  <%= f.select :city_id, options_from_collection_for_select(City.all, "id", "name"), selected: @conversation.city_id, prompt: "City", class: "form-control" %>
  <%= f.select :isp_company_id, options_from_collection_for_select(IspCompany.all, "id", "name"), selected: @conversation.isp_company_id, prompt: "ISP", class: "form-control" %><br/><br/>
  <%= f.label :subject %>
  <%= f.text_area :subject %><br/><br/>
  <%= f.label :body %>
  <%= f.text_area :body %><br/><br/>
  <%= f.submit "Create New Conversation", class: "btn btn-large btn-success" %>
<% end %>