<!DOCTYPE html>
<html>
<head>
  <title>Wisp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:action] %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMrYKmbRwYQQwao9qgyBbo_BnaLdCdwRg">
  </script>
  <%= javascript_include_tag "google_maps" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/shared/navbar" %>

<%= yield %>

</body>
</html>
